<%- include ./partial/header.ejs %>
<%- include ./partial/nav.ejs %>

<div class="flex-container">
  <h1>Edit Post</h1>
  <h2><%= post.id %></h2>
</div>
<div class="flex-container">
  <form class="edit-post">
    <div class="edit-title">Post Title
      <input name="title" type="text" value="<%= post.title %>" />
    </div>
    <div class="edit-content">Post Content
      <textarea rows="20" cols="100" name="content" placeholder="<%= post.content %>"></textarea>
    </div>
    <button type="submit" formaction='/posts/edit' id="edit-post-save">Save Edit</button>
  </form>
</div>


<%- include ./partial/footer.ejs %>
