<%- include ./partial/header.ejs %>
<%- include ./partial/nav.ejs %>

<div class="flex-container">
  <h1>Edit Post</h1>
  <template class="post-id"><%= post.id %></template>
</div>
<div class="flex-container">
  <form class="edit-post">
    Title: <input class="edit-title" label="Post Title" name="title" type="text" value="<%= post.title %>" />
    Post: <textarea class="edit-content" rows="20" cols="100" name="content"><%= post.content %></textarea>
    <button type="submit" formaction='/edit' id="edit-post-save">Save Edit</button>
  </form>
</div>


<%- include ./partial/footer.ejs %>
